html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.privacy-page {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 20px;
}

.privacy-page h1,
.privacy-page h2 {
  color: black;
}

.privacy-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.privacy-page h2 {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-top: 30px;
}

.trails-repository {
  padding: 0 20px;
}

.search-form {
  margin-bottom: 20px;
}

.input-text {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.btn {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn:not(.btn-outline-dark):not(.btn-outline-secondary):not(.btn-outline-primary) {
  color: white;
  border: none;
}

.btn-filter {
  background-color: #007bff;
}

.btn-create {
  margin-top: 20px;
  background-color: #28a745;
  padding: 10px 15px;
}

.btn-create:hover {
  background-color: #28a745;
  color: white;
  text-decoration: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

.table thead tr {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.edit-link {
  color: #007bff;
}

.details-link {
  color: #007bff;
}

.delete-link {
  color: #dc3545;
}

#map-container {
  width: 80%;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: 750px;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#map-key {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.key-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.key-item span {
  margin-left: 8px;
  font-size: 18px;
}

.key-item span:last-child {
  font-weight: bold;
}


.key-item:nth-child(2) span:last-child { color: green; }
.key-item:nth-child(3) span:last-child { color: blue; }
.key-item:nth-child(4) span:last-child { color: black; }
.key-item:nth-child(5) span:last-child { color: red; }
.key-item:nth-child(6) span:last-child { color: purple; }

#map-title {
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
  font-weight: bold;
}